# <font color = cyan> Challenge 1

## <font color = cyan> Ejercicio 1
En este primer ejercicio voy replicar lo siguiente: instalar, importar y usar 
la libreria pandas.

In [10]:
# Instalamos la libreria pandas
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     ---------------------------------------- 10.9/10.9 MB 1.7 MB/s eta 0:00:00
Collecting numpy>=1.20.3
  Downloading numpy-1.24.1-cp39-cp39-win_amd64.whl (14.9 MB)
     ---------------------------------------- 14.9/14.9 MB 1.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\.conda\envs\especializationdatasciencepytho\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\.conda\envs\especializationdatasciencepytho\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\.conda\envs\especializationdatasciencepytho\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.24.1 pandas-1.5.3

In [11]:
# Una vez instalado la libreria lo importamos
import pandas as pd

In [12]:
# Ahora voy usar la libreria pandas para importar la data "Data1.csv"
Path = 'C:/Users/PC/DataAnalitica/Fundamentos de la Ciencia de Datos y Estadística/Módulo 1 - Introducción a Python/Sesión 1'
df = pd.read_csv(Path + '/Challenge1/Data1.csv', sep = ';')
df

   Nombre  Edad        Sexo  Talla Nacionalidad
0    Luis    25   Masculino   1.76         Perú
1   Maria    21    Femenino   1.57     Colombia
2   Dario    31   Masculino   1.79         Perú
3  Carlos    28   Masculino   1.72      Bolivia
4   Diana    23    Femenino   1.70         Perú

## <font color = cyan>Ejercicio 2
En este segundo ejercicio voy replicar los tipos de datos: int, float, str, boolean

In [13]:
# Un tipo de dato entero
A = int(20)
type(A)

int

In [14]:
# Un tipo de dato float
B = 20.2345
type(B)

float

In [15]:
# Un tipo de dato string
C = 'Este es un string'
type(C)

str

In [16]:
# Un tipo de dato booleano
D = True 
type(D)

bool

## <font color = cyan> Ejercicio 3
En este tercer ejemplo voy desarrollar algunas operaciones aritméticas: 
suma, resta, multiplicación, división real, división entera y módulo (residuo de una división)

In [17]:
# Para poder realizar las operaciones mencionadas anteriormente, ingresamos tres números
x = 120
y = 300
z = 400

In [18]:
# Suma
Suma = x + y + z 
print("La suma es: ", Suma)

La suma es:  820

In [19]:
# Resta
Resta = z - (x + y)
print(f"La resta es {Resta}")

La resta es -20

In [20]:
# Multiplicación
Multiplicación = x*y*z
print("La multiplicación es {}". format(Multiplicación))

La multiplicación es 14400000

In [21]:
# División real
DivisiónReal = (x + y)/z
print("La división real es", DivisiónReal)

La división real es 1.05

In [22]:
# División entera
DivisiónEntera = (10*x + y)//z
print("La división entera es ", DivisiónEntera)

La división entera es  3

In [23]:
# Módulo (es el resudio o resto de una división)
Módulo = (x + y)%z
print("El módulo es ", Módulo)

El módulo es  20

## <font color = cyan> Ejercicio 4
En este cuarto ejemplo voy desarrollar las operaciones de relación: Igual que, diferente que, menor que, mayor que, menor igual que o mayor o igual que:

In [30]:
# Operación de igualdad
100 == 200
print(100 == 200)
20 == 20
print(20 == 20)

False
True

In [31]:
# Operación de diferente
400 != 100
print(400 != 100)
500 != 500
print(500 != 500)

True
False

In [32]:
# Operación de menor que (menor estricto que)
a1 = 12
a2 = 24
a1 < a2
print(a1 < a2)

True

In [33]:
# Operación de mayor que (mayor estricto que)
b1 = 30
b2 = 24
b1 > b2
print(b1 > b2)

True

In [34]:
# Operación de menor o igual que
c1 = 30
c2 = 30
c1 <= c2
print(c1 <= c2)

True

In [35]:
# Operación de mayor o igual que
d1 = 50
d2 = 50
d1 >= d2
print(d1 >= d2)

True

## <font color = cyan> Ejercicio 5
En este quinto ejemplo voy imprimir un ***hola mundo*** de diversas formas.

In [36]:
# Usando una comilla simple
'Hola mundo'

'Hola mundo'

In [37]:
# Usando un doble comilla
"Hola mundo"

'Hola mundo'

In [38]:
# Usando una triple comilla
"""Hola mundo"""

'Hola mundo'

In [39]:
# Almacenando en una variable
Saludo = 'mundo'

In [40]:
# Forma 1
print("Hola", Saludo)

Hola mundo

In [41]:
# Forma 2
print(f"Hola {Saludo}")

Hola mundo

In [42]:
# Forma 3
print("Hola {}".format(Saludo))

Hola mundo